.container {
  display: flex;
  height: 90vh; /* Define a altura total da tela */
}

.left-panel, .right-panel {
  flex: 1; /* Distribui o espaço igualmente entre os painéis */
}

.left-panel {
  background-color: #f1f1f1; /* Cor de fundo do painel esquerdo */
}

.right-panel {
  background-color: #eaeaea; /* Cor de fundo do painel direito */
}

.centralized{
  margin: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.quadro {
  background-color: #000;
  padding: 10px;
  font-family: 'Courier New', monospace;
  color: #0f0;
}

.container-start {
  display: flex;
  align-items: center;
  justify-content: center;
  // height: 100vh;
}

.btn-start {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  font-family: 'AtariFont', sans-serif;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  font-family: 'Courier New', monospace;
  cursor: pointer;
}

.btn-start:hover {
  background-color: #0f0;
}


//////////////////////////////  /* Computação da máquina */ //////////////////////////////
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul, li {
  list-style: none;
}

.viewport {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  #settings {
    position: absolute;
    top: 0;
    left: 0;
    margin: 4px;
    cursor: pointer;
  }
}

#maquina-turing {
  position: relative;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      to right,
      #ffffff 0%,
      #ffffff 5%,
      #fff0 25%,
      #fff0 75%,
      #ffffff 95%,
      #ffffff 100%
    );
    opacity: 1;
  }

  #fita-container {
    transform: translateX(50%) translateX(-32px);
    transition-property: transform;
    transition-timing-function: ease;

    #fita {
      position: relative;
      display: flex;
    }

  }

}



.celula {
  flex-shrink: 0;
  width: 64px;
  height: 64px;
  border: 4px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 32px;
  margin-right: -4px;

  transition-property: color;
  transition-timing-function: ease;

  &:last-child {
    margin-right: 0;
  }
}
